.atf-preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.hide-preloader {
  opacity: 0;
  visibility: hidden;
  transition: all ease-out 0.5s;
}

.atf-lds-roller {
    display: inline-block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}

.atf-lds-roller div {
    animation: atf-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.atf-lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin: -4px 0 0 -4px;
}

.atf-lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.atf-lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}

.atf-lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.atf-lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}

.atf-lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.atf-lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}

.atf-lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.atf-lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}

.atf-lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.atf-lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}

.atf-lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.atf-lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}

.atf-lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.atf-lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}

.atf-lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.atf-lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

@keyframes atf-lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
